<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="40px">
      <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right" class="tooltInfo"> 
          <img height="24px" style="float:right" src="../../assets/000-info.svg"> 
          <span #tooltipinfo class="tooltInfo_text">Absolute number of likes, views, and comments per song selected.</span>
      </div>
      <button (click)="switchView('compButton');" class="hardComp compButton active" style="float:right"><img height="24px" title="Comparison View" src="../../assets/000-barchart.svg"> </button>
      <button (click)="switchView('aggrButton');" class="hardAggr aggrButton" style="float:right"><img height="24px" title="Aggregated View" src="../../assets/000-chart.svg"> </button>

      <h2>Hardfacts</h2>        
  </mat-grid-list>
</div>
<hr />

<div id="likeChartLine" class="maxSize aggregationView">...</div>
<div id="likeChart" class="maxSize comparisonView"></div>

<div class="wrapper" *ngIf="this.data.length && this.compView">
  <div (mouseover)="setTooltip($event, tooltip1);" class="fab_button"> 
    Total Comments: {{ this.data.length }} 
    <span #tooltip1 class="tooltip_text">
      <table>
        <tr class="view_tr" *ngFor="let song of this.getSongsAndComments();">
          <td>{{ song.name }}</td>
          <td>{{ song.comments }}</td>
          <td><mdc-icon class="thumb_icon">visibility</mdc-icon></td>
        </tr>
      </table>
    </span>
  </div>
  <div (mouseover)="setTooltip($event, tooltip2);" class="fab_button">
    Total Views: {{ this.getTotalViews() }}
    <span #tooltip2 class="tooltip_text">
      <table>
        <tr class="view_tr" *ngFor="let song of this.getSongsAndViews();">
          <td>{{ song.name }}</td>
          <td>{{ song.views }}</td>
          <td><mdc-icon class="thumb_icon">visibility</mdc-icon></td>
        </tr>
      </table>
    </span>
  </div>
</div>



