<div class="commentsWrapper">
  <div *ngIf="isLoading" class="loadingSignal"><app-loading-svg></app-loading-svg></div>

  <div class="grid-container headerComp">
    <p *ngIf="totalComments > 0">{{totalComments}} comments from the selected video(s)</p>
    <mat-icon *ngIf="appliedFilter" class="timeFilterIcon" style="float:right;margin:10px" title="Applied Time Filter">date_range</mat-icon>
    <h2 class="cardTitleBox">Comments</h2>
    <img class="cardTitleIcon" height="24px" title="Comments" src="../../assets/menu_comment.svg">
  </div>
  <hr />

  <div class="grid-container">
    <div class="filterComp">
      <form ngForm [formGroup]="myFormGroup" style="display:inline; margin-right: 1px">
          <label>Showing&nbsp;</label>
          <input #box id="showCommentsAmmount" formControlName="nbComments" [(value)]="nbComments" type="number" required="" (keydown.enter)="textareaEnterPressed($event)" />
          <label>&nbsp;of {{totalComments}} comments</label>
      </form>
      
      <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right;margin:15px 0 0 15px;" class="tooltInfo">
          <img aria-label="info" height="30px" style="float:right" src="../../assets/000-info.svg">
          <span #tooltipinfo class="tooltInfo_text">
            <p>Based on your selected videos and the time span you selected, you see the comments. You can order the comments by replies, likes and date - ascending or descending. You can also chose the ammount of comments to be rendered.</p>
            <p>On top of each comment there is the user who wrote it and the date. At the bottom you also see the number of likes, number of replies and the information about the sentiment. You can click on the replies icon to open all replies to a specific comment. The sentiment shows if the comment is positive, neutral, negative or mixed when the same comment is rated as both positive and negative. In general, the sentiment is assessed only for English comments.</p>
            <p><img aria-label="attention" height="15px" src="../../assets/010-warning.svg">  The more comments you fetch, the longer it will take to load them.</p>
          </span>
      </div>
      <button (click)="runFetchComments()" title="Get Comments" class="correctResetBtn" style="float:right;" [disabled]="ids && ids.length === 0"><span *ngIf="!isLoading">APPLY FILTERS</span></button>
      <mdc-select aria-labelledby="filterSelectLabel" #select placeholder="replies desc" ngModel #demoSelectModel="ngModel" name="filter" style="float:right;" (selectionChange)="onSelectionChange($event)">
        <option *ngFor="let fi of filter" [value]="fi.value"> {{ fi.value }} </option>
      </mdc-select>
    </div>
      
    <h3 id="filterSelectLabel" class="cardTitle">Filters:</h3>
  </div>
  <hr />

  <div id="commentSection">
    <div *ngFor="let comment of receivedComments" class="commentPanel">
        <div class="post-heading">
            <div class="comment-author">
              <a href="{{'https://www.youtube.com/watch?v=' + comment.versionID + '&lc=' + comment.commentID}}" class="dateTime" target="_blank">
              <img alt="" src="../../../../assets/user.svg" class="userIcon">
              {{comment.commentAuthor}} |
              {{dateTimeParser(comment.dateTime)}} </a>
              <a href="{{'https://www.youtube.com/watch?v=' + comment.versionID}}" class="songInterpret" target="_blank">
                {{comment.interpret}} - {{comment.songName}}
              </a>
            </div>
          </div>
          <p class="comment-text">{{comment.commentText}}</p>
          <div class="bottom-comment" style="float: left; margin-left: 15px">{{comment.likes}}
            <img alt="likes" src="../../../../assets/002-like.svg" height="13px" class="iconStyle" style="margin: 0px 5px"> |
          
            <a *ngIf="comment" style="text-decoration: none; cursor: pointer;" (click)="displayReplyDetails(comment.commentID)" class="accordion" id="{{'replyCount_' + comment.commentID }}">
                {{comment.replies.length}}
              <img alt="replies" src="../../../../assets/001-reply.svg" height="13px" class="iconStyle" style="margin: 0px 5px">
              <img aria-label="expand replies" *ngIf="displayReplies != comment.commentID" src="../../../../assets/010-down.svg" height="13px" id="{{'iDown_' + comment.commentID}}" style="display:inline;margin: 0px 3px">
              <img aria-label="collapse replies" *ngIf="displayReplies == comment.commentID" src="../../../../assets/010-up.svg" height="13px" id="{{'iUp_' + comment.commentID}}" style="display:inline;margin: 0px 3px">
            </a> |
            <a style="text-decoration: none; cursor: pointer;" (click)="displaySentimentDetails(comment.commentID)" class="sentBttn" id="{{'sentBttn_' + comment.commentID }}">
                <div class="sentimentText color_{{this.getSentiment(comment.sentiment, 'mean').color }}">
                  {{this.getSentiment(comment.sentiment, 'mean').sent }} 
                </div>
                <img alt="" src="../../../../assets/{{this.getSentiment(comment.sentiment, 'mean').icon }}" height="13px" class="iconStyle" style="margin: 0px 5px">
            </a>
            <div *ngIf="displaySent == comment.commentID" (mouseover)="setTooltipInfoSent($event, tooltipinfo);" class="pSt tooltInfo" id="{{'pSt_' + comment.commentID }}" style="display:inline; background:#aaa; color:#fff; font-size:0.8em; padding:1px 5px;">
              NLTK: {{this.getSentiment(comment.sentiment, 'nltk').sent}} | TextBlob: {{this.getSentiment(comment.sentiment, 'blob').sent}} | AFINN: {{this.getSentiment(comment.sentiment, 'afinn').sent}} &nbsp;&nbsp;
              <span #tooltipinfo class="tooltInfo_text">
                <p><img aria-label="info" height="13px" src="../../assets/000-info.svg"> Sentiment scores are calculated with three sentiment analysis tools (AFINN, NLTK, and TextBlob). Non-English comments are not assessed by the tools.</p>
              </span>
            </div>
          </div>
          
          <div *ngIf="displayReplies == comment.commentID" class="panelAc" id="{{'replyPanel_' + comment.commentID }}" style="margin-top: 40px;">
              <div *ngFor="let reply of comment.replies">
                  <hr>
                  <div style="padding: 0px 10px 20px 50px">
                    <div class="post-heading">
                      <div class="comment-author"><img src="../../../../assets/user.svg" style ="height: 20px; margin: 0px 5px -5px 0px"> {{reply.snippet.authorDisplayName}} | {{this.dateTimeParser(reply.snippet.publishedAt)}}</div>
                    </div> 
                    <p [innerHTML]="reply.snippet.textDisplay" class="comment-text" style="color: black"></p>
                    <div class="bottom-comment" style="float: left; margin-left: 15px">
                      {{reply.snippet.likeCount}} <img src="../../../../assets/002-like.svg" height="13px" class="iconStyle" style="margin: 0px 5px">
                    </div>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>





