@import '~bootstrap/dist/css/bootstrap.css';

.flexBtnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.correctResetBtn {
  margin-right: 34px;
  margin-bottom: -25px;
}

.contentmargin {
  width: 100vw;
  height: 100vh;
}

.demo-content__drawer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  &--row {
    display: flex;
    flex-direction: row;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }


  &--persistent {
    display: flex;

    .mdc-drawer--persistent:not(.mdc-drawer--open) {
      display: none;
    }
  }
}

.search_icon {
  position: relative;
  top: 0.01mm;
  right: 20px;
}

.search_icon:focus, button:focus {
  outline: none;
}

.mdc-drawer {
  width: 400px;
}

.mdc-drawer--persistent .mdc-drawer__drawer {
  width: 400px !important;
}

.song_list_item {
  height: fit-content;
}

.song_link {
  cursor: pointer;
}

.search-list {
  height: 95vh;
  overflow-y: scroll;
}

// FOR TOOLTIP

.tooltip {
  position: relative;
  display: inline-block;
  background-color: red;
  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext {
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#searchFeedback{
  margin: 0px auto;
}

#searchFeedback img{
  display: none;
  margin: 30px auto;
}

#searchFeedback p{
  color: #666666;
  display: none;
  margin: 30px auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  transition: 1s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  margin-top: 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

