    <div class="demo-content__drawer demo-content__drawer--persistent">
      <mdc-drawer #persistent drawer='persistent'>
        <mdc-drawer-spacer>
          <mdc-text-field #searchText [box]="false" formControlName="searchTitle" label="search for songs" maxlength="30" (change)="submitSearch(searchText.value)">
            <mdc-icon class="search_icon" trailing #searchicon  [clickable]="true">search</mdc-icon>
          </mdc-text-field>
        </mdc-drawer-spacer>

          <div class="search-list list-group" >
            <!--List of search results-->
            <div class="song_list_item list-group-item list-group-item-action flex-column align-items-start" *ngFor="let match of searchMatchList; let i = index" > <!--(click)="checkbox1.toggle(); selectSong(i, checkbox1);"-->
                  <div class="d-flex w-100 justify-content-between">
                      <!-- <mdc-checkbox #checkbox1 mdcListItemGraphic (change)="selectSong(i, checkbox1)"></mdc-checkbox> -->
                      <b class="mb-1">{{match.displayName}}</b>
                      <div class="checkbox" #checkbox1 (change)="selectSong(i, checkbox1.value)">
                          <label><input type="checkbox" value=""></label>
                      </div>
                  </div>
                  <div class="d-flex w-100 justify-content-between">
                      <small>{{ match.data.comment.length }} Comments</small>
                      <a class="song_link" href="https://www.youtube.com/watch?v={{match.data.data[0].id}}" target="_blank">
                        <span>link</span>
                        <div class="tooltip">
                          <span class="tooltiptext">link to video</span>
                        </div>
                      </a>
                  </div>



                </div>
          </div>
      </mdc-drawer>
      <div>
        <mdc-toolbar>
          <mdc-toolbar-row>
            <mdc-toolbar-section [alignStart]="true">
              <mdc-icon mdc-toolbar-menu-icon (click)="persistent.open()">menu</mdc-icon>
              <mdc-toolbar-title>Please select a song</mdc-toolbar-title>
            </mdc-toolbar-section>
            <mdc-toolbar-section [alignEnd]="true" [shrinkToFit]="true">
              <img src="../../assets/Samba_Logo_rgb_transparent_cut.png" alt="samba logo" style="width:200px; margin-right: 15px;">
            </mdc-toolbar-section>
          </mdc-toolbar-row>
        </mdc-toolbar>
        <mdc-chip-set #inputchipset [input]="true">
          <mdc-chip *ngFor="let element of selectedList; let i = index" label="{{element.data[0].snippet.title}}" (trailingIconInteraction)="removeSelectedSong(i)">
            <mdc-chip-icon leading>music_note</mdc-chip-icon>
            <mdc-chip-icon trailing>cancel</mdc-chip-icon>
          </mdc-chip>
        </mdc-chip-set>
        <div class="contentmargin">
          <app-dashboard></app-dashboard>
        </div>
      </div>
    </div>
