.contentmargin {
  width: 100vw;
  height: 100vh;
}

.demo-content__drawer {
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  &--row {
    display: flex;
    flex-direction: row;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }


  &--persistent {
    display: flex;

    .mdc-drawer--persistent:not(.mdc-drawer--open) {
      display: none;
    }
  }
}

.search_icon {
  position: relative;
  top: 0.01mm;
  right: 20px;
}

.mdc-drawer {
  width: 400px;
}
.mdc-drawer__drawer {
  width: 400px !important;
}

.song_list_item {
  height: fit-content;
}
