<div class="selection_bar" >
    <button #fab2 mdc-fab class="fab_button" style="background-color:#009688" [extended]="true" label="monthly" disabled></button>

    <h1>Engagement with Comments (all videos)</h1>
    <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right;margin:15px 0 0 25px;" class="tooltInfo">
        <img aria-label="info" height="30px" style="float:right" src="../../assets/000-info.svg">
        <span #tooltipinfo class="tooltInfo_text">
        <p><img alt="" height="15px" src="../../assets/000-chart.svg"> The chart shows the comments of all selected videos/groups of videos. It also shows how many of them received a like as a measure of engagement.</p>
        </span>
    </div>
    <span class="filterWarning" *ngIf="appliedFilter"><mat-icon class="timeFilterIcon" title="Applied Time Filter">date_range</mat-icon> Data filtered by time</span> 
</div>
  
<div id="engChartLine" class="maxSize aggregationView"></div>
<p class="notDataWarn" *ngIf="this.notDataWarn">Not enough data to render chart.</p>
  