@import "~@angular-mdc/theme/material";

//$color-change-list: #ff0084 #ffa200 #3d94ff #01ffc8;
$color-change-list: /*#a6cee3*/ #1f78b4 #b2df8a #33a02c #fb9a99 #e31a1c #ff0084 #ff7f00 #cab2d6;

.fab_button {
  float: left !important;
  height: 35px !important;
  margin-right: 2px;
  margin-top: 8px;
  margin-left: 2px;
}

.fab_button:first-child {
  margin-left: 10px;
}

.fab_button:last-child {
  margin-right: 10px;
}

.fab_button {
  @include mdc-fab-accessible(#1565C0);
}
.selection_bar {
  height: 4em;
  margin: -20px;
  width: fit-content;
}
#compositeChart {
  margin-top: 45px;
}

@mixin coloring {
  @each $color in $color-change-list {
    $i: index($color-change-list, $color);
    &:nth-child(#{$i}) .colorRect {
      background-color: $color;
    }
  }
}
.legend {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  float: right;
  margin: -20px;
  margin-right: 10px;
}
.legendElement {
  @include coloring();
}
.colorRect {
  width: 10px;
  height: 10px;
  // background-color: black;
  margin: 0;
  float: left;
  margin-top: 3px;
}
.legend .rectText {
  float: left;
  margin: 0;
}
