<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <div>
              <app-hardfacts></app-hardfacts>
            </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="3">
      <mat-card class="dashboard-card comment-section">
        <mat-card-content class="dashboard-card-content">
          <div>
            <app-mainvis id="mainVis"></app-mainvis>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-content>
            <div>
                <app-language></app-language>
              </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="7">
      <mat-card class="dashboard-card" style="overflow-y: scroll;">
        <mat-card-content>
          <div>
            <app-comment [ids]="idsForChild" [totalComments]="totalCommentsForChild"></app-comment>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid_title_overflow" [colspan]="1" [rowspan]="2">
        <mat-card class="dashboard-card">
          <mat-card-content>
            <div>
              <app-engagement-comments></app-engagement-comments>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    <mat-grid-tile class="grid_title_overflow" [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <div>
              <app-sentiment></app-sentiment>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="grid_title_overflow" [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-content>
          <div>
              <app-topic></app-topic>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="grid_title_overflow" [colspan]="3" [rowspan]="1">
      <mat-card class="dashboard-card"><mat-card-content class="dashboard-card-content">
        <a id="footlink" href="https://samba.fhstp.ac.at/" target="_blank" style="text-decoration: none; color:#888888; margin-top: -10px;">
          Smart Data for Music Business Administration (SAMBA)
        </a>
      </mat-card-content></mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
