<div class="selection_bar" >
    <button #fab2 mdc-fab class="fab_button" style="background-color:#009688" [extended]="true" label="monthly" disabled></button>

    <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right;margin:15px 0 0 25px;" class="tooltInfo">
        <img height="30px" style="float:right" src="../../assets/000-info.svg">
        <span #tooltipinfo class="tooltInfo_text">
          <p><img height="15px" src="../../assets/000-chart.svg"> In this chart you see the top three languages in which the comments are written. The numbers are aggregated per month and show the overall amount of comments per language.</p>
          <p><img height="15px" src="../../assets/000-barchart.svg"> For the comparison view, each bar of the chart shows the percentage of comments per language in the videos selected for each song.</p>
        </span>
    </div>
</div>

<div id="languageGraph" class="maxSize aggregationView"></div>
<p class="notDataWarn" *ngIf="this.notDataWarn">Not enough data to render chart.</p>

<div class="wrapperLangCaption" >
    <div *ngIf="showLangCaption && chartHeight > 100"> 
        <p  class="footerLang"> * {{langCaption}} </p>
    </div>
</div>
