.tooltInfo:hover .tooltInfo_text {
  visibility: visible;
  opacity: 1; 
}

.tooltInfo_text {
  visibility: hidden;
  opacity: 0.7;
  width: 500px;
  height: fit-content;
  background-color: #444;
  color: white;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 5;
  top: 0%;
  margin-left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  top: -30%;
  left: -20px;
}

p.footerTopics{
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #666;
}

.wrapperdataCloud{
  float: left;
  bottom: 5px;
  position: absolute;
}

.wrapper.dataCloud .tooltInfo_text {
  width: fit-content;
}

.loadingSignal {
  margin: auto;
  width: 100%;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.loadingSignal p {
  margin: -20px 0px 0px 0px;
  padding: 0;
  text-align: center;
  font-size: 0.8em;
  color: #333;
  font-style: italic;
}

.legend {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  position: absolute;
  top: 100px;
  right: 15px;
}

.colorRect {
  width: 10px;
  height: 10px;
  margin: 0;
  float: left;
  margin-top: 3px;
}

.legend .rectText {
  float: left;
  margin: 0 10px;
}

.colorRect.pos {
  background: #4daf4a;
}

.colorRect.neu {
  background: #cccccc;
}

.colorRect.neg {
  background: #ff7f00;
}

.filterWarning{
  width: 8.5em;
  float: right;
  margin: -1px 15px 0px 0px;
  padding: 5px;
  color: #FF6700;
  font-style: italic;
}

.filterWarning mat-icon{
  margin: -4px;
}
  

