<div *ngIf="isLoading" class="loadingSignal"><app-loading-svg></app-loading-svg><p>Loading new topics</p></div>
<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="40px">
    <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right" class="tooltInfo"> 
        <img height="24px" style="float:right" src="../../assets/000-info.svg"> 
        <span #tooltipinfo class="tooltInfo_text">
            <p><img height="15px" src="../../assets/000-bubblechart.svg"> The word cloud shows the most used words in the comments of the selected videos.</p>
            <p><img height="15px" src="../../assets/000-list.svg"> For the comparison view, you see a list of the ten most used words in the comments for each video/group of videos.</p> 
            <p>The color of each word shows the mean sentiment of comments containing this word (positive, neutral, or negative).</p>
        </span>
    </div>
    <button (click)="switchView('compButton');" class="topicComp compButton" style="float:right"><img height="24px" title="Comparison View" src="../../assets/000-list.svg"> </button>
    <button (click)="switchView('aggrButton');" class="topicAggr aggrButton active" style="float:right"><img height="24px" title="Aggregated View" src="../../assets/000-bubblechart.svg"> </button>

    <h2 class="cardTitleBox">Main Topics</h2>
    <mat-icon class="cardTitleIcon" title="Topic">notes</mat-icon>     
  </mat-grid-list>
</div>
<hr />

<div class="legend" *ngIf="this.data && this.data.length > 0">
  <div>
    <div class="colorRect pos"></div><p class="rectText">Pos</p><br>
    <div class="colorRect neu"></div><p class="rectText">Neu</p><br>
    <div class="colorRect neg"></div><p class="rectText">Neg</p><br>
  </div>
</div>

<div (window:resize)="reDraw()" class="aggregationView" id="topiccloudTag">
  <angular-tag-cloud *ngIf="dataCloud"
    [data]="dataCloud"
    [width]="options.width"
    [height]="options.height"
    [overflow]="options.overflow"
    [strict]="true">
  </angular-tag-cloud>
</div>

<div id="topicList" class="maxSize comparisonView">

</div>

<div class="wrapperdataCloud" >
  <div *ngIf="dataCloud" class="wrapper dataCloud" (mouseover)="setTooltipInfo($event, tooltipinfo);" class="tooltInfo"> 
    <p  class="footerTopics"> *Most frequent words on {{totalComments}}% of comments </p>
    <span #tooltipinfo class="tooltInfo_text">
        <p><img height="13px" src="../../assets/000-info.svg"> Only comments written in German and English are processed.</p>
    </span>
  </div>
</div>


