<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="40px">
        <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right" class="tooltInfo">
            <img height="24px" style="float:right" src="../../assets/000-info.svg">
            <span #tooltipinfo class="tooltInfo_text">
                <p><img height="15px" src="../../assets/000-barchart.svg"> Each bar of the chart shows the percentage of comments per language in the selected videos.</p>
            </span>
        </div>
        <mat-icon *ngIf="appliedFilter" class="timeFilterIcon" title="Applied Time Filter">date_range</mat-icon>

        <h2 class="cardTitleBox">Language</h2>
        <mat-icon class="cardTitleIcon" title="Language">language</mat-icon>
    </mat-grid-list>
</div>
<hr />

<div id="languageBarGraph" class="maxSize comparisonView"></div>
<p class="notDataWarn" *ngIf="this.notDataWarn">Not enough data to render chart.</p>

<div class="wrapperLangCaption" >
    <div *ngIf="showLangCaption"> 
        <p  class="footerLang"> * {{langCaption}} </p>
    </div>
</div>
