<div class="selection_bar" >
  <button #fab1 mdc-fab class="fab_button" (click)="setShowOption(2)" [ngStyle]="{'background-color': this.chartShowOption === 2 ? '#009688' : '#1976D2'}" [extended]="true" label="yearly"></button>
  <button #fab2 mdc-fab class="fab_button" (click)="setShowOption(1)" [ngStyle]="{'background-color': this.chartShowOption === 1 ? '#009688' : '#1976D2'}" [extended]="true" label="monthly"></button>
  <button #fab3 mdc-fab class="fab_button" (click)="setShowOption(0)" [ngStyle]="{'background-color': this.chartShowOption === 0 ? '#009688' : '#1976D2'}" [extended]="true" label="daily"></button>

  <h1>Comments per Video</h1>
  <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right;margin:15px 0 0 25px;" class="tooltInfo">
      <img aria-label="info" height="30px" style="float:right" src="../../assets/000-info.svg">
      <span #tooltipinfo class="tooltInfo_text">
        <p>In this chart you see the number of comments of the selected videos/groups of videos over time. </p>
        <p>If you select different videos the numbers are summarized and are represented as one line in the chart. Each line has its own color, that you can distinguish between the selected song in the chart. Below you see a range slider. You can interact with the slider by click and holding the handle elements and moving to the right and the left. The time selection changes based on your interactions.</p>
      </span>
  </div>
  <span class="filterWarning" *ngIf="appliedFilter"><mat-icon class="timeFilterIcon" title="Applied Time Filter">date_range</mat-icon> Data filtered by time</span> 
</div>

<div class="legend" *ngIf="this.songs && this.songs.length > 0">
  <div class="legendElement" *ngFor="let song of this.songs; let i = index">
    <div class="colorRect" ></div>
    <p class="rectText">{{ song.values[0].key }}</p>
    <br>
  </div>
  <div *ngIf="this.songs && this.songs.length > 1"><div class="summRect"><p>--</p></div><p class="rectText">All Comments</p><br></div>
</div>
<div id="compositeChart" class="maxSize">
</div>
