/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular-mdc/theme/material';


$mdc-theme-primary: #cacaca;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

/* if you change the color list you have to
    change it in mainvis.component.scss as well */
$color-change-list: #a6cee3 #1f78b4 #b2df8a #33a02c #fb9a99 #e31a1c #ff0084 #ff7f00 #cab2d6;

html {
  overflow-y: hidden
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

@import "~@angular-mdc/theme/material";

.demo-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px;

  h3 {
    @include mdc-typography(headline6);

    margin-top: .1em;
    margin-bottom: .8em;
  }
}
/* Drawer */
.mdc-drawer__drawer {
  width: 400px !important;
}
/* Chart - Design */
.line {
  fill: none;
}

//colors the legend of the line chart
@mixin coloring {
  @each $color in $color-change-list {
    $i: index($color-change-list, $color);
    &:nth-child(#{$i}) .chart-body .stack-list .stack .line {
      stroke: $color;
    }
  }
}

/* if you change the color list you have to
    change it in mainvis.component.scss as well */
.sub {
  @include coloring();
}

/* Slider - Design */
.ng5-slider .ng5-slider-pointer {
  background-color: #1976D2 !important;
  width: 10px !important;
  height: 30px !important;
}

.ng5-slider .ng5-slider-selection {
  background-color: #1976D2 !important;
}

.ng5-slider .ng5-slider-pointer:after {
  content: none !important;
}

/* Data Grid - Comment - Design*/
.dc-grid-label {
  display: none;
}

/* Comment Design */
.comment-wrap {
  display: table;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.comment-block {
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: rem(3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.08);
}

.comment-text {
  margin-right: 20px;
  margin-left: 20px;
  text-align: left;
}

.bottom-comment {
  color: #999999;
}

.comment-date {
  float: left;
  margin: 14px;
}

.comment-actions {
  float: right;
  width: 25%;
  margin: 14px;
  li {
    display: inline;
		margin: -2px;
		cursor: pointer;

    &.complain {
      text-align: right;
    }
  }
}

.comment-song {
  float: left;
  width: 100%;
  text-align: left;
  margin: 14px;
  margin-bottom: 0;
  font-weight: bold;
}

.comment-author {
  float: left;
  width: 100%;
  text-align: left;
  margin: 14px;
  color: #acb4c2;
}

.comment-thumb {
  font-size: 10pt;
  position: relative;
  top: 2px;
}

#languageBarGraph,
#sentimentChart,
#likeChart{
  margin-top:15px;
}

#languageBarGraph svg g .y .tick text,
#sentimentChart svg g .y .tick text,
#likeChart svg g .barLabel,
#likeChart svg g .y .tick text {
  display: none;
}

#languageBarGraph svg g .axis .tick line,
#sentimentChart svg g .axis .tick line,
#likeChart svg g .axis .tick line{
  display: none;
}

#languageBarGraph svg g .axis .domain,
#sentimentChart svg g .axis .domain,
#likeChart svg g .axis .domain {
  display: none;
}

.aggrButton,
.compButton{
  background:#eeeeee;
  outline: none;
  cursor: pointer;
}

.aggrButton.active,
.compButton.active{
  background:#ffffff;
}

.compButton{
  margin: -5px 15px 0 0px;
  border-radius: 0px 5px 5px 0px;
}

.aggrButton{
  margin: -5px 0 0 15px;
  border-radius: 5px 0px 0px 5px;
}

.aggregationView.hide,
.comparisonView.hide{
  display: none;
}

// Custom STYLES
.sub:nth-child(2) .chart-body .stack-list .stack .line {
  stroke: #7fc97f !important;
}

.sub:nth-child(3) .chart-body .stack-list .stack .line {
  stroke: #beaed4 !important;
}

.sub:nth-child(4) .chart-body .stack-list .stack .line {
  stroke: #fdc086 !important;
}

.sub:nth-child(5) .chart-body .stack-list .stack .line {
  stroke: #ffff99 !important;
}

.sub:nth-child(6) .chart-body .stack-list .stack .line {
  stroke: #386cb0 !important;
}

.sub:nth-child(7) .chart-body .stack-list .stack .line {
  stroke: #f0027f !important;
}

.sub:nth-child(8) .chart-body .stack-list .stack .line {
  stroke: #bf5b17 !important;
}

.sub:nth-child(9) .chart-body .stack-list .stack .line {
  stroke: #666666 !important;
}

.legendElement[_ngcontent-c7]:nth-child(1) .colorRect[_ngcontent-c7] {
  background-color: #7fc97f !important;
}

.legendElement[_ngcontent-c7]:nth-child(2) .colorRect[_ngcontent-c7] {
  background-color: #beaed4 !important;
}

.legendElement[_ngcontent-c7]:nth-child(3) .colorRect[_ngcontent-c7] {
  background-color: #fdc086 !important;
}

.legendElement[_ngcontent-c7]:nth-child(4) .colorRect[_ngcontent-c7] {
  background-color: #ffff99 !important;
}

.legendElement[_ngcontent-c7]:nth-child(5) .colorRect[_ngcontent-c7] {
  background-color: #386cb0  !important;

}

.legendElement[_ngcontent-c7]:nth-child(6) .colorRect[_ngcontent-c7] {
  background-color: #f0027f !important;

}

.legendElement[_ngcontent-c7]:nth-child(7) .colorRect[_ngcontent-c7] {
  background-color: #bf5b17 !important;

}

.legendElement[_ngcontent-c7]:nth-child(8) .colorRect[_ngcontent-c7] {
  background-color: #666666 !important;

}

