p, li{
    font-weight: 100;
}

h2 {
    color: #444;
}

.btnCancel{
    margin: 0px;
    float: right;
    cursor: pointer;
    height: 35px;
}

.btnMenu{
    border-top: 1px solid #494949;
    border-bottom: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 1.3em;
    font-family: 'OpenSans', Helvetica, Arial, Sans-Serif;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    color: #494949;
    width: 100%;
    padding: 0.8em 0.8em 0.8em 0em;
    text-align: left;
    cursor: pointer;
}

.helpList li {
    margin-bottom: 2em;
}

.btnMenu.last{
    border-bottom: 1px solid #494949;
}

.btnMenu:hover{
    background-color: #eee;
}

.btnMenu:active{
    background: #dddddd;
}

.helpImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
}

.ico{
    height: 25px;
    width: 25px;
    float:left;
    margin: 0px 10px 0px 0px;
}

.ico.about{
    background-image: url("../../assets/help_info.svg");
    background-size: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.ico.analytics{
    background-image: url("../../assets/help_layout.svg");
    background-size: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.ico.contact{
    background-image: url("../../assets/help_contact.svg");
    background-size: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.ico.faq{
    background-image: url("../../assets/help_help.svg");
    background-size: 20px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.logoSamba{
  width: 130px;
}

.backtomenu{
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.2);
    color: #888;
    font-size: 1em;
    display: flex;
    border: 1px solid #888;
    cursor: pointer;
    outline: none;
    padding: 10px;
}
