<div class="grid-container">
<mat-grid-list cols="1" rowHeight="40px">
    <div class="wrapper" (mouseover)="setTooltipInfo($event, tooltipinfo);" style="float:right" class="tooltInfo"> 
        <img height="24px" style="float:right" src="../../assets/000-info.svg"> 
        <span #tooltipinfo class="tooltInfo_text">
                <p><img height="15px" src="../../assets/000-chart.svg"> In the first view you see the comments aggregated per month and the amount of comments per sentiment.</p>
                <p><img height="15px" src="../../assets/000-barchart.svg"> For the comparison view, you see the percentage of each sentiment from the comments. Each bar represents one song.</p> 
                <p>The colors encode the different sentiments: positive, neutral, negative and mixed. "Mixed sentiment" means that one comment was automatically detected as both positive and negative.</p>
        </span>
    </div>
    <button (click)="switchView('compButton');" class="sentComp compButton" style="float:right"><img height="24px" title="Comparison View" src="../../assets/000-barchart.svg"> </button>
    <button (click)="switchView('aggrButton');" class="sentAggr aggrButton active" style="float:right"><img height="24px" title="Aggregated View" src="../../assets/000-chart.svg"> </button>

    <h2>Sentiment</h2>        
</mat-grid-list>
</div>
<hr />

<div id="sentimentChartLine" class="maxSize aggregationView"></div>
<div id="sentimentChart" class="maxSize comparisonView"></div>
<p *ngIf="this.notDataWarn">Not enough data to render chart.</p>

<div class="sentEnableNA" *ngIf="this.data.length && this.compView">
    <p>Show N/A</p>
    <label (click)="toggleNA()" title="Show Not Available Sentiment Data" class="switch">
        <input id="slider" type="checkbox" checked><span class="slider round"></span>
    </label>
</div>
